/* =============
    Grid
============= */

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row > * {
    position: relative;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="col-"] {
    flex: 0 0 auto;
}

.flex-1 {
    flex: 1;
    @include md-max {
        flex: auto;
    }
}
