/* =============
    Typography
============= */

body {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}

header {
    font-size: 30px;
    text-align: center;
}

h2 {
    text-align: center;
}
