/* =============
    Buttons
============= */

 
 .button1{
    background-color: $light-brown;
    color: #fff;
    padding: 11px 18px 11px 18px;
 }
 
 
 .button2{
    background-color: $brown;
    color:#fff;
    padding: 11px 18px 11px 18px;
 }

 .nav-button{
    background-color: #BF6042;
    color: #fff;
    border: none;
 }